* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: rgb(40, 60, 120);
}

.header {
  min-height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0.4% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #0bd3f7;
  background-image: linear-gradient(rgba(30, 30, 30, 0.2), rgba(30, 30, 30, 0.2)), url(images/nav-fundo.png);
  background-size: auto;
}

nav img {
  width: 160px;
}

nav h1 {
  padding-left: 3%;
  color: rgb(230, 230, 230);
  font-size: 36px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font: rubik;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 4px;
  background: rgb(255, 95, 80);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

@media(max-width:700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: rgb(255, 95, 80);
    height: 100vh;
    width: 200px;
    top: 0px;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 0.3s;
    visibility: hidden;
  }

  nav .fa {
    display: block;
    color: rgb(230, 230, 230);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 10px;
  }

  nav img {
    width: 100px;
  }

  nav h1 {
    font-size: 24px;
    padding-left: 1%;
  }
}

@media screen and (min-width:700px) and (max-width: 1300px) {
  .nav img {
    width: 120px;
  }

  .nav h1 {
    font-size: 24px;
    padding-left: 1%;
  }

  .nav-links ul {
    padding: 8px;
  }

}

/* informacoes */

.lados-conteudo {
  background: linear-gradient(to bottom, rgb(17, 24, 41), rgb(40, 60, 120));
}

.conteudo {
  display: flexbox;
  width: 100%;
  margin: auto;
  text-align: left;
  padding-top: 30px;
  background: linear-gradient(to bottom, rgb(17, 24, 41), rgb(40, 60, 120));
  padding-bottom: 20px;
}

.conteudo h1 {
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 20px;
}

.conteudo p {
  color: rgb(230, 230, 230);
  padding-left: 5%;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 5px;
  line-height: 130%;
}

.conteudo h2 {
  padding-left: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}

.conteudo ul li {
  color: rgb(230, 230, 230);
  padding-left: 180px;
  font-size: 24px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.conteudo img {
  max-width: 40vw;
  padding: 50px;
}

.conteudo ul {
  padding-top: 30px;
}

@media(max-width: 700px) {

  .conteudo img {
    max-width: 80%;
    float: right;
    padding: 20px;
  }

  .conteudo h1 {
    font-size: 36px;
  }

  .conteudo h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    padding-left: 20%;
    padding-right: 10%;
  }

  .conteudo p {
    font-size: 16px;
    /* padding-left: 30px; */
  }

  .conteudo ul li {
    font-size: 18px;
    padding-left: 30px;
    line-height: 130%;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .conteudo ul {
    padding-top: 30px;
  }
}

@media screen and (min-width:700px) and (max-width: 1300px) {

  .conteudo h1 {
    font-size: 40px;
  }

  .conteudo h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    padding-left: 160px;
  }

  .conteudo p {
    font-size: 20px;
    padding-left: 3%;
  }

  .conteudo ul li {
    font-size: 22px;
    padding-left: 8%;
    line-height: 110%;
    letter-spacing: 2px;
  }

}

/* rodape */

.rodape {
  width: 100%;
  height: 100px;
  background: rgb(25, 45, 90);
  margin: auto;
  text-align: center;
}

.rodape p {
  padding-top: 48px;
  font-size: 18px;
  color: rgb(28, 140, 232);
}

@media(max-width:700px) {
  .rodape p {
    font-size: 15px;
  }
}